/// @type List
$text-font-stack: "Montserrat", sans-serif !default;

/// @type Color
$link-color: #c8e1ff !default;

/// @type Color
$hover: #1f2936 !default;

/// @type Color
$brand-color: #7ABA78 !default;
$second-color: #40A2E3 !default;